In [ ]:
/* Market Status and Share
This is market data, not just TCL — includes competitors.

Data: JAN 23 and JAN 24 */

In [1]:
-- 1. TCL Group’s Market Share (Jan 24)
SELECT
  PERIOD,
  SUM(SALES_UNITS) AS TCL_Units,
  SUM(SALES_VALUE_SAR) AS TCL_Revenue,
  ROUND(SUM(SALES_VALUE_SAR) * 100.0 / 
        (SELECT SUM(SALES_VALUE_SAR) FROM KSATVTEST WHERE PERIOD = KS.PERIOD), 2) AS TCL_Market_Share_Percent
FROM KSATVTEST KS
WHERE BRAND IN ('TCL', 'TCL PRO') AND PERIOD IN ('JAN 23', 'JAN 24')
GROUP BY PERIOD
ORDER BY PERIOD;

PERIOD,TCL_Units,TCL_Revenue,TCL_Market_Share_Percent
JAN 23,11146.967344462872,21027996,11.550000000000
JAN 24,11063.724117815495,23915678,13.850000000000

In [2]:
-- 2. Competitor Comparison (Jan 24)
SELECT
  TOP 5
  CASE 
    WHEN BRAND IN ('TCL', 'TCL PRO') THEN 'TCL Group' 
    ELSE BRAND 
  END AS Brand_Group,
  SUM(SALES_UNITS) AS Units_Sold,
  SUM(SALES_VALUE_SAR) AS Revenue
FROM KSATVTEST
WHERE PERIOD = 'JAN 24'
GROUP BY
  CASE 
    WHEN BRAND IN ('TCL', 'TCL PRO') THEN 'TCL Group' 
    ELSE BRAND 
  END
ORDER BY Revenue DESC;

Brand_Group,Units_Sold,Revenue
SAMSUNG,13483.476915299892,37414202
LG,7685.642285168171,26818798
TCL Group,11063.724117815495,23915678
SKYWORTH,6498.1592807769775,10537065
SONY,2451.193955898285,10171154